---
import DOMPurify from "isomorphic-dompurify";

interface Props {
  content: string;
}

const { content } = Astro.props;
const sanitizedContent = DOMPurify.sanitize(content, { FORBID_ATTR: ["href"] });
---

<article-reader>
  <div class="article-pagination-container">
    <article class="ink-article" set:html={sanitizedContent} />
  </div>
</article-reader>

<script>
  /**
   * When the DOMContentLoaded event triggers, we execute the logic that
   * makes the pagination works.
   *
   * The HTML is strucutre so we use a multi-column layout. The size of every column
   * is the width of the viewport. We disable the scroll in the multi-column layout,
   * and we manage by the interaction of the user, similar to the experience of
   * reading and going through pages of a E-Book.
   *
   * If the user clicks on the 70% right side of the screen, they will navigate to the
   * next page. If they click in the 30% left side, they will go to the previous page.
   * This is controlled by screenDivisorThreshold constant.
   */
  const BACKWARD_DIRECTION = "backward";
  const FORWARD_DIRECTION = "forward";
  type ChangeDirection = typeof BACKWARD_DIRECTION | typeof FORWARD_DIRECTION;

  class ArticleReader extends HTMLElement {
    connectedCallback() {
      const observer = new IntersectionObserver(
        (entries) => {
          for (const entry of entries) {
            if (entry.isIntersecting) {
              this.initializePagination();
              observer.unobserve(this);
              break;
            }
          }
        },
        { threshold: 0.5 },
      );

      observer.observe(this);
    }

    initializePagination() {
      const container = this.querySelector(
        ".article-pagination-container",
      ) as HTMLElement;
      if (!container) return;

      const article = container.querySelector(".ink-article") as HTMLElement;

      let currentPage = 0;
      const pageWidth = window.innerWidth;
      let totalPages = Math.ceil(article.scrollWidth / pageWidth);

      const moveToCurrentPage = () => {
        article.style.transform = `translateX(-${currentPage * pageWidth}px)`;
      };

      /**
       * Total pages must be recalculated in every new page since
       * images render on demand. Since they render on demand, layout
       * shifts will happen, making the article to have more pages.
       */
      const recalculateTotalPages = () => {
        totalPages = Math.ceil(article.scrollWidth / pageWidth);
      };

      const changePage = (direction: ChangeDirection) => {
        const pageDiff = direction === BACKWARD_DIRECTION ? -1 : 1;
        currentPage = currentPage + pageDiff;

        moveToCurrentPage();
        recalculateTotalPages();
      };

      const handleClick = (event: MouseEvent) => {
        const screenWidth = window.innerWidth;
        const screenDivisorThreshold = 0.3; // 30%
        const screenThresholdX = screenWidth * screenDivisorThreshold;
        const clickHorizontalPosition = event.clientX;
        const isLeftSide = clickHorizontalPosition < screenThresholdX;
        const isRightSide = !isLeftSide;

        if (isLeftSide && currentPage > 0) {
          changePage(BACKWARD_DIRECTION);
        } else if (isRightSide && currentPage < totalPages - 1) {
          changePage(FORWARD_DIRECTION);
        }
      };

      container.addEventListener("click", handleClick);
      // Initial setup
      const startingHeight = container.getBoundingClientRect().y;
      container.style.height = `${window.innerHeight - startingHeight - 10}px`;
      container.style.overflow = "hidden";
      recalculateTotalPages();
      moveToCurrentPage();
    }
  }

  customElements.define("article-reader", ArticleReader);
</script>

<style>
  .ink-article {
    --article-padding: 1rem;
    --font-size: 1rem;
    --line-height: 1.6;
  }

  .article-pagination-container {
    height: 0; /* Will be overwritten by JS */
    overflow-x: hidden;
    /* scroll-snap-type: x mandatory; */
    -webkit-overflow-scrolling: touch;
  }

  .ink-article {
    height: 100%;
    column-width: 100vw;
    column-gap: calc(var(--article-padding) * 2);
    scroll-snap-align: start;
  }

  article {
    /* sizing */
    padding: var(--article-padding);
    box-sizing: border-box;
    /* Text styles */
    line-height: var(--line-height);
    font-size: var(--font-size);
    color: #000;
  }

  article :global(figure) {
    margin: 0;
    max-width: 100%;
    break-inside: avoid;
  }

  article :global(figcaption) {
    text-align: center;
    text-wrap: balance;
  }

  article :global(img) {
    max-width: 100%;
    /* Avoid horizontal pictures to be larger than the screen */
    max-height: 90vh;
    height: auto;
    display: block;
    margin: 1rem auto;
  }

  article :global(p) {
    /* Allow paragraphs to break, between pages */
    break-inside: auto;
  }

  article :global(p:first-of-type) {
    margin-top: 0;
  }

  article :global(pre) {
    overflow: hidden;
    text-wrap: auto;
    break-inside: avoid;
  }
</style>
