---
import Body from "../layouts/Body.astro";
import LoginContainer from "../containers/LoginContainer.astro";

const error = Astro.url.searchParams.get("error");
---

<Body>
  <LoginContainer hasError={Boolean(error)} />
</Body>
