---
export const prerender = false;
import UnreadsContainer from "../components/Unreads/UnreadsContainer.astro";
import Body from "../layouts/Body.astro";
import AstroCookiesManager from "../lib/astro-cookies-manager";

let url, apiToken;
try {
  const cookieManager = new AstroCookiesManager(Astro.cookies);
  ({ url, apiToken } = cookieManager.getMinifluxSessionCookies());
} catch {
  return Astro.redirect("/login");
}
---

<Body>
  <UnreadsContainer url={url} apiToken={apiToken} />
</Body>
