---
import Logout from "./actions/Logout.astro";
import NavButton from "./templates/NavButton.astro";
import NavTitle from "./templates/NavTitle.astro";
import IconLink from "./templates/IconLink.astro";
import ArrowLeft from "../icons/ArrowLeft.astro";
import FunnelIcon from "../icons/FunnelIcon.astro";

interface Props {
  title: string;
  backUrl?: string;
  showFilter?: boolean;
}

const { title, backUrl, showFilter } = Astro.props;
---

<nav>
  <ul>
    <NavButton isHidden={!showFilter}>
      <button id="filterBtn" class="icon-btn" aria-label="Filter feeds">
        <FunnelIcon />
      </button>
    </NavButton>

    <NavButton isHidden={!backUrl}>
      <IconLink url={backUrl!}>
        <ArrowLeft />
      </IconLink>
    </NavButton>

    <NavTitle title={title} />

    <NavButton>
      <Logout url="/api/logout" />
    </NavButton>
  </ul>
</nav>

<style>
  nav {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
    /* Make the Nav to always stay at top */
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  ul {
    list-style-type: none;
    padding: 0.5rem;
    margin: 0;
    display: flex;
  }
  .icon-btn {
    background: none;
    color: #000;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    outline: inherit;
    width: 100%;
    height: 100%;
  }
</style>

<script>
  const filterBtn = document.getElementById("filterBtn");
  if (filterBtn) {
    filterBtn.addEventListener("click", () => {
      document.dispatchEvent(new CustomEvent("inkflux:open-filter"));
    });
  }
</script>
