---
import PreviousArticle from "./actions/PreviousArticle.astro";
import NextArticle from "./actions/NextArticle.astro";
import Logout from "./actions/Logout.astro";
import NavButton from "./templates/NavButton.astro";
import NavTitle from "./templates/NavTitle.astro";

interface Props {
  entryId: number;
  title: string;
  feedTitle: string;
  articlePosition: "first" | "middle" | "last";
}

const { entryId, title, feedTitle, articlePosition } = Astro.props;
---

<nav>
  <ul>
    <NavButton isHidden={articlePosition === "first"}>
      <PreviousArticle entryId={entryId} />
    </NavButton>

    <NavTitle title={`${feedTitle} - ${title}`} />

    <NavButton isHidden={articlePosition === "last"}>
      <NextArticle entryId={entryId} />
    </NavButton>

    <NavButton>
      <Logout url="/api/logout" />
    </NavButton>
  </ul>
</nav>

<style>
  nav {
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
    /* Make the Nav to always stay at top */
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  ul {
    list-style-type: none;
    padding: 0.5rem;
    margin: 0;
    display: flex;
  }
</style>
