---
import BackwardIcon from "../icons/BackwardIcon.astro";
import ForwardIcon from "../icons/ForwardIcon.astro";

interface Props {
    title: string;
    articleId: number;
    feedTitle: string;
}

const { title, articleId, feedTitle } = Astro.props;
---

<nav>
    <ul>
        <li class="nav-button">
            <a
                href={articleId > 0 ? `/articles/${articleId - 1}` : null}
                class={articleId == 0 ? "disabled" : ""}
            >
                <BackwardIcon />
            </a>
        </li>
        <li class="nav-title">
            <h1>{feedTitle} - {title}</h1>
        </li>
        <li class="nav-button">
            <a href={`/articles/${articleId + 1}`}><ForwardIcon /></a>
        </li>
    </ul>
</nav>

<style>
    nav {
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding: 0;
        /* Make the Nav to always stay at top */
        position: sticky;
        top: 0;
        background-color: #fff;
    }
    ul {
        list-style-type: none;
        padding: 0.5rem;
        margin: 0;
        display: flex;
    }
    .nav-title {
        flex-grow: 1;
        flex-shrink: 1;
        margin: 0 1rem;
        overflow: hidden;
    }
    .nav-title h1 {
        margin: 0;
        /* Text styles */
        font-size: 0.85rem;
        text-align: center;
        font-weight: bold;
        line-height: 20px;
        /* Overflow title will be hidden behind ... */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .nav-button {
        flex-grow: 0;
        flex-shrink: 0;
        height: 20px;
        width: 20px;
    }
    .nav-button a {
        color: #000;
        text-decoration: none;
    }

    .nav-button a.disabled {
        color: #fff;
    }
</style>
